@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
:root {
    --cor01: #222224;
    --cor02: #5A4532;
}
html {
    scroll-behavior: smooth;
}
header {
    background-color: var(--cor01);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.menu {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 1em;
}
.menu-item {
    padding: .5em 1em;
}
#inicio {
    background-image: url('imagens/fundobarbershop.jpg');
    background-position: center center;
    background-size: cover;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
#inicio p {
    font-size: 3em;
    text-shadow: 3px 3px 8px black;
}
button {
    background-color: transparent;
    border: 2px solid white;
}
button a {
    display: inline-block;
    padding: .5em 1.2em;
}
#sobre {
    max-width: 800px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titulo {
    text-align: center;
}
.titulo span {
    color: rgb(100, 100, 100);
}
.titulo h1 {
    font-size: 2em;
}
.cortes {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 1.5em;
}
#portifolio {
    background-color: var(--cor01);
    height: 600px;
}